<%- include ('../partials/header') %>
<main>
  <div class="container">
    <h1>Manage Your Trips</h1>
    <form action="/trip" method="POST">
      <label for="destination">Destination</label>
      <input type="text" id="destination" name="destination" required/>
    
      <label for="original_location">Leaving From</label>
      <input type="text" id="original_location" name="original_location" required/>
    
      <input type="submit"/>
    </form>
  </div>
  <div id="addedTripInfo">
  </div>
</main>
<%- include ('../partials/footer') %>