<%- include ('../partials/header') %>

  <main>
    <div class="card p-4">
      <h1 class="card-title">Log in!</h1>

      <% if (typeof error !=='undefined' ) { %>
        <p class="error" style="color: red;">
          <%= error %>
        </p>
        <% } %>

          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" required />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required />
            </div>

            <button type="submit" class="btn btn-primary">Log in</button>

            <div class="mt-3">
              <p>Don't have an account? <a href="/register">Register</a></p>
            </div>
          </form>
    </div>

  </main>

  <%- include ('../partials/footer') %>