<%- include ('../partials/header') %>

    <head>
        <link rel="stylesheet" href="../../resources/css/profile.css">
    </head>

    <body>
        <div class="container">
            <img src="" alt="Profile Picture Here">
        </div>

        <div class="profileinfo-container">
            <h4>Username: </h4>
            <h4>Firstname: </h4>
            <h4>Lastname: </h4>
            <h4>Email: </h4>
        </div>

        <div class="tripinfo-container">
            <h4>Trips Completed: </h4>
            <h4>Total Distance Travelled: </h4>
            <h4>Average Rating: </h4>
        </div>

    </body>

    <%- include ('../partials/footer') %>