
<body>
  <main>
    <div class="container">
      <h1>Register</h1>
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <form action="/register" method="POST">
        <label for="username">username</label>
        <input type="text" id="username" name="username" required/>
      
        <label for="password">password</label>
        <input type="text" id="password" name="password" required/>
      
        <input type="submit"/>
      </form>
    </div>
  </main>
