<%- include ('../partials/header') %>
<header>
    <h1>settings</h1>
</header>
    <script src="../../resources/js/settings.js"></script>
    <link rel="stylesheet" href="../../resources/css/settings.css">
    <div id="message-container"></div>
    <div class="container">
        <div class="shadow p-3 mb-5 bg-body rounded" style="margin-top:  50px;">
            <form id="changeProfileIMG" action="/uploadIMG" method="POST" enctype="multipart/form-data">
                <label for="profileImage">Upload a Profile Image</label>
                <input type="file" name="profileImage" id="profileImage" accept="image/*">
                <br>
                <input type="submit" value="Upload">
            </form>
        </div>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form id="changeUsername" action="/change_username" method="POST" onsubmit="return handleChangeUsername()">
                <label for="newUsername">New Username:</label>
                <input type="text" id="newUsername" name="newUsername" required>
                <button type="submit">Change Username</button>
            </form>
        </div>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form id="changePassword" action="/change_password" method="POST" onsubmit="return handleChangePassword()">
                <label for="currentPassword">Current Password:</label>
                <input type="password" id="currentPassword" name="currentPassword" required>

                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" required>

                <button type="submit">Change Password</button>
            </form>
        </div>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form id="deleteAccount" action="/deletion" method="POST" onsubmit="return confirmDelete()">
                <label for="confirmDelete">Type 'DELETE' to confirm:</label>
                <input type="text" id="confirmDelete" name="confirmDelete" required>
                <button type="submit">Delete Account</button>
            </form>
        </div>
    </div>
<%- include ('../partials/footer') %>