<%- include ('../partials/header') %>
<main>
    <h1>Settings</h1>

    <script src="../../resources/js/settings.js"></script>
    
    <form id="changeUsername" action="/settings/change-username" method="post">
        <label for="newUsername">New Username:</label>
        <input type="text" id="newUsername" name="newUsername" required>
        <button type="submit">Change Username</button>
    </form>

    <form id="changePassword" action="/settings/change-password" method="post">
        <label for="currentPassword">Current Password:</label>
        <input type="password" id="currentPassword" name="currentPassword" required>
        
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>

        <button type="submit">Change Password</button>
    </form>

    <form id="deleteAccount" action="/settings/delete-account" method="post" onsubmit="return confirmDelete()">
        <label for="confirmDelete">Type 'DELETE' to confirm:</label>
        <input type="text" id="confirmDelete" name="confirmDelete" required>
        <button type="submit">Delete Account</button>
    </form>
</main>
<%- include ('../partials/footer') %>
