/* body {
    margin: 0;
    color: #6a6f8c;
    background: #ffffff; 
    font: 600 16px/18px "Open Sans", sans-serif;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container .box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 100px; 
  } */
  