.popup-position{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;

 /* The Modal Wrapper */
}
#popup-wrapper{
text-align: left;
}

/*The Modal Container */
#popup-container{

    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 70px auto;

    a{
        cursor: pointer;
    }
}